.login {
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;

  &__wrapper {
  }
}

.register {
  height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;

  &__wrapper,
  &__form {
    width: 100%;
  }
}
